* {
	box-sizing: border-box;
}

body {
	background: #e6e9ec;
	
}

.dash-bar-menu {
	width:100%;
	float:right;
	font-size:10pt;
	background-color: #a51906;
	list-style-type:none;
	margin-bottom:80px;
}
.dash-bar-menu a {
	display:block;
	padding:0px 7px 0px 7px;
	color:#fff;
	text-decoration:none;
}
.dash-bar-menu a:hover { background:red; }
.dash-bar-menu li {
	float:right;
	display:block;
	line-height:30px;
	padding-right:5px;
	padding-left:5px;
	color:#fff;
}

.formdiv {
	width: 80%;
	margin:auto;
	margin-bottom:50px;
/*	border: 1px solid green; */
	max-width: 680px;
	
}

.hidden {
	display:none; 
/*	visibility: hidden; */
}

.spinner {
	position: relative;
	text-align:center;
}

.small {
	max-width: 80px;
	max-height: 80px;
}	

.center {
	text-align: center;
}

input[type=text] {
  width: 95%;
  padding: 5px 5px;
  height: 50px;
}

.lowsep {
	margin-bottom: 50px;
}

.right {
	text-align: right;
	padding-right: 55px;
}

#lightbox {
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%;
	height: 200vh;  /* read about css units */
	background: rgba(25,25,112,.90);
	font-family: "Times New Roman", Times, serif;
	padding: 20%;
	padding-top: 20px;
}

#lightbox p {
	color: #fff;
	font-size: 18px;
}

#lightbox p.app-title {
	color: #f4f736;
	font-size: 28px;
}

/* The following table style is from w3schools. It makes rows alternate shading. */
table {
    width: 100%;
}
.width-50 {
	width: 50%;
}
.width-80 {
	width: 80%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table th {
/*    background-color: black;
    color: white;
*/
}

